body {
    background-color:white;
}
.col {
    max-width: 25%;
    min-width: 390px;
    flex: 25%;
    margin-bottom: 3em;

}

.container-fluid {
    max-width:90%;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size:80px;
    text-align:center;
    font-weight:700;
    line-height:80px;
    margin-top:1em;
 
}
.subtitle {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.25em;
}
.paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    margin-bottom: 0.25em;
}
.sub-paragraph {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 400;
    color: #141621;
    opacity: 0.6;
    margin-bottom: 0.25em;
}
.date {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    text-align: left;
    font-weight: 400;
    color: #141621;
    opacity: 0.4;
}

.space-large {
    margin-bottom:100px;
}
.space-medium {
    margin-bottom: 50px;
}

.picture {
    width: 360px;
    height: 80px;
    margin-bottom: 1em;
    border: 1px solid #F2F2F2;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row-filter {

    border:2px solid black;
}
.btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}
.dropdown-menu {
    border: 2px solid black;
    border-radius:0px;
    border-top:0px;
    padding:1em;
    width:300px;
   
 
   
}
.btn-success {
    background-color: black;
    border-radius: 0px;
    border: 0px;
    width: 100%;
    margin:0;
}

    .btn-success:hover, .btn-success:focus, .btn-success:active {
        box-shadow: none;
        background-color: black;
    }

    .btn:focus, .btn:active, .btn:hover {
       
        box-shadow: none;
}



.custom-checkbox {
    width: 18px;
    height: 18px;
    background-color: black;
    vertical-align: middle;
    margin-right: 8px;
    vertical-align: middle;
}

.checkbox-label {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    text-align: left;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    margin-bottom: 1.2em;
    vertical-align: middle;
}




@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        
    }
    [class*="picture"] {
        width: 300px;
        height:66px;
    }
    [class*="title"] {
        font-size: 60px;
        text-align:left;
        line-height:66px;
        padding-left:16px;
    }
    [class*="subtitle"] {
        font-size: 18px;
        text-align: left;
        width: 280px;
        line-height: 28px;
    }
    [class*="paragraph"] {
        font-size: 16px;
        padding-left: 28px;
    }
    [class*="sub-paragraph"] {
        font-size: 16px;
        padding-left: 28px;
    }
    [class*="date"] {
        font-size: 14px;
        padding-left: 28px;
    }
    [class*="space-large"] {
        margin-bottom:3em;
    }
}
